<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/assets/css/styles.css?v={% version %}" crossorigin="anonymous"/>
        <title>
            {% block title %}Does it work?{% endblock %}
        </title>
        {% if description %}
            <meta name="description" content="{{ description }}"/>
        {% endif %}
        <script defer src="/js/alpine.js?v={% version %}"></script>
    </head>
    <body class="flex flex-col min-h-screen">
        {% include 'partials/_header.njk' %}
        {% block content %}
            {{ content | safe }}
        {% endblock %}
        {% include 'partials/_footer.html' %}
    </body>
</html>