<section class="py-16 px8">
    <div class="mx-auto max-w-5xl">
        <h2 class="text-4xl font-bold sm:text-center md:text-left">Some more details</h2>
        <div class="flex flex-col items-center justify-between gap-16 md:flex-row">
            <p class="mt-4 sm:text-center md:text-left">
                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim
                assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit
                lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <a href="https://www.kapp.technology/contact/"
                class="flex-shrink0 rounded-full bg-gradient-to-b from-orange-400 via-purple-500  to-blue-500 py-2 px-12 font-semibold text-white">Contact
                us</a>
        </div>
    </div>
</section>