<section class="bg-gradient-to-b from-orange-400 via-purple-500  to-blue-500  py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
        <img src="/assets/hero.jpg" alt="" class="max-h-[32rem]"  />
        <div>
            <h1 class="text-4xl font-bold leading-[1.1] text-green-500 md:text-5xl">
                Hello, World!
            </h1>
            <p class="pt-4 text-lg leading-[1.5] text-white ">
                Exploring the fun in Web development. Using Eleventy and TailwindCSS as a technology stack.
            </p>
            <p class="pt-4 text-lg leading-[1.5] text-white ">
                An expedition led by <a href="https://www.kapp.technology" target="_blank">www.kapp.technology</a>.
            </p>
        </div>
    </div>
</section>