---
layout: 'home.njk'
url: 'home'
title: 'Home Page'
description: 'Home is the start of everything.'
date: git Last Modified
---

{% include 'sections/hero.html' %}

{% include 'sections/services.njk' %}

{% include 'sections/details.html' %}