<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous"/>
        <title>Document</title>
    </head>
    {% include 'partials/_header.html' %}
    <body class="min-h-screen flex flex-col text-gray-700">
        {{ content | safe }}
        {% include 'partials/_footer.html' %}
    </body>
</html>